@page "/bingo"

@using PictureBingo.Data

@inject BingoService BingoService

<div class="container">
    <div class="row">
        <label for="bingoOption">Kies een thema</label>
        <select id="bingoOption" @onchange="OnOptionChanged">
            <option>...</option>
            @foreach (var option in availableOptions)
            {
                <option value="@option">@option</option>
            }
        </select>
    </div>
    <div class="row">
        <button class="btn btn-primary btn-nextbingo" disabled=@NoDraw @onclick=DrawNumber>@DrawText</button>
    </div>
    <div class="row">
        <div class="col-9">
            @if (LastDrawnPicture != null)
            {
                <h2>Getrokken plaatje: @CurrentPicture?.Name</h2>
                <img src=@LastDrawnPicture?.Path class="paw-patrol big @AnimateClass" />
            }
        </div>
        <div class="col">
            <p>
                Getrokken (@drawnNumbers.Count) :
            </p>
            <ul>
                @foreach (var number in drawnNumbers)
                {
                    <li style="list-style-type:none"><img src=@number.Path class="paw-patrol" /></li>
                }
            </ul>
            Beschikbaar (@availableNumbers.Count):
            <ul>
                @foreach (var number in availableNumbers)
                {
                    <li>@number.Name</li>
                }
            </ul>
        </div>
    </div>
</div>
